<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>class_08_27_v2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>new_target.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0331F8BA1B8F704C0033E7D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0331F8CF1B8F704C0033E7D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03CF2A9F1B8F9902005A3E75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03CF2AB31B8F9902005A3E75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
